@page
@model FoodItemModel
@{
    ViewData["Title"] = "Додати продукт";
}

<div class="container mt-5">
    <h2>🍏 Додати новий продукт</h2>

    <form method="post" class="mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Input.Name" class="form-label">Назва</label>
            <input asp-for="Input.Name" class="form-control" />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label asp-for="Input.Calories" class="form-label">Калорії (на 100г)</label>
                <input asp-for="Input.Calories" class="form-control" />
                <span asp-validation-for="Input.Calories" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="Input.Proteins" class="form-label">Білки</label>
                <input asp-for="Input.Proteins" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Input.Proteins" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="Input.Fats" class="form-label">Жири</label>
                <input asp-for="Input.Fats" class="form-control" type="number" step="0.01"/>
                <span asp-validation-for="Input.Fats" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="Input.Carbs" class="form-label">Вуглеводи</label>
                <input asp-for="Input.Carbs" class="form-control" type="number" step="0.01"/>
                <span asp-validation-for="Input.Carbs" class="text-danger"></span>
            </div>
        </div>

        <button class="btn btn-primary">➕ Додати</button>
        <a asp-page="/MealLog" class="btn btn-secondary ms-2">⬅️ Назад</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}